body{
    background-color: black;
}

.main{
    max-width: 1440px;
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    text-align: center;
    align-content: center;
    margin: 10px;
}

@media (max-width:1200px) {
    body{
        background-color: yellow;
    }
    .box{
        width: 300px;
        background-color: blue;
    }
        
}

@media (max-width:1060px) {
    body{
        background-color: red;
    }
    .box{
        width: 300px;
        background-color: black;
    }
}

@media (max-width:920px) {
    body{
        background-color: yellow;
    }
    .box{
        width: 250px;
        background-color: blue;
    }
        
}

@media (max-width:770px) {
    body{
        background-color: purple;
    }
    .box{
        width: 200px;
        background-color: chocolate;
    }
        
}